.App {
  min-height: 100vh;
  background: #0072a7;
  color: #fff;
}

.h1Style {
  font-weight: 500;
  font-size: 25px;
  padding: 2px 10px;
  margin-bottom: 10px;
  text-align: left;
}
.btn {
  padding: 5px 20px;
  margin-bottom: 4px;
  font-weight: 600;
}
.login {
  background-color: #ddd;
  width:400px;
  color: #222;
  margin: auto;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 3px -2px 32px -3px #00000063;
  overflow: hidden;
}

.login input{
  width:100%;
  padding:5px 0px;
  margin-bottom: 10px;
}
.login p{
  overflow-x: scroll;
}

.showDetails{
  background-color: #ddd;
  padding:25px;
  margin-bottom: 10px;

}

.showDetails p{
  color: #555 !important;
  text-align: center;
}


